
@{
    ViewBag.Title = "Index";
}

<h2>Maitenance</h2>
<ul>
    <li>@Html.ActionLink("Compliance Forms", "Index", "ComplianceForms")</li>
    <li>@Html.ActionLink("Compliance Categories", "Index", "ComplianceCategories")</li>
    <li>@Html.ActionLink("Compliance Profile Builder", "Index", "Compliances")</li>
    <li>@Html.ActionLink("Add Compliance Item", "Index", "ComplianceItems")</li>
    
    
</ul>

